<div class="container mt-5">
  <h1 class="mb-4">Editing client</h1>

  <%= render "form", client: @client %>

  <div class="mt-4">
    <%= link_to "Show this client", @client, class: "btn btn-primary" %> |
    <%= link_to "Back to clients", clients_path, class: "btn btn-secondary" %>
  </div>
</div>
